

#app {
    text-align: center;
    background-color: blue;
    width: 800px;
    margin: auto;
}

.character{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item img{
    width: 200px;
}

.texto{
    width: 900px;
}